{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}



{% import _self as index %}
{{ index.print(index_tree, attributes, 0) }}

{% macro print(cate_array, attributes, depth, parent) %}

	{% import _self as index %}
	{% if depth == 0 %}
		<div{{ attributes.addClass('col-lg-4 index mapping-home-item') }}>
			{{ title_prefix }}
			{% if label %}
				<h2{{ title_attributes }}>{{ label }}</h2>
			{% endif %}
			{{ title_suffix }}
			{% block content %}
			    <h2 class="text-center">Index<i class="fa fa-info info-tooltip"></i></h2>
				  <ul class="nav nav-pills nav-stacked">
					<h2 class="col-lg-8 hover-title">Lorem ipsum title</h2>
				    {% for key,item in cate_array if item.depth == depth %}
					        <li class="dropdown">
					        	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="cate-color fa fa-stop" style="color: {{ item.color }}"></span>{{ item.name }} <span class="fa fa-angle-right"></span></a>
						      	<ul class="dropdown-menu">
						      		{{ index.print(cate_array, attributes, depth + 1, item.tid) }}
					     	 	</ul>	        	
				        	</li>				
				    {% endfor %}	

				  </ul>
				{% endblock %}
		</div>
    {% else %}
		{% for key,item in cate_array if item.parents.0 == parent %}
			{% if item.hasChildren %}
	        	<li class="dropdown-submenu">
        			<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ item.name }}</a>
			      	<ul class="dropdown-menu">
						{{ index.print(cate_array, attributes, depth + 1, item.tid) }}
		     	 	</ul>			        		
	        	</li>				
			{% else %}
				<li><a href="emor-mapping-explore">{{ item.name }}</a></li>
			{% endif %}
			
		{% endfor %}
    {% endif %}


{% endmacro %}