{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('col-lg-8 knowledge-base mapping-home-item') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <h2 class="text-center">Knowledge Base<i class="fa fa-info info-tooltip"></i></h2>
    <div class="row">
      <div class="border-top"></div>
      <div class="list-menu col-lg-6">
        <ul class="nav nav-pills nav-stacked">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="fa fa-stop"></span>List by Subject
            <span class="pull-right fa fa-angle-down"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">List by Subject 1
                <span class="pull-right fa fa-angle-down"></span></a>
                <ul class="dropdown-menu">
                  <li>Sub 1</li>
                  <li>Sub 2</li>
                  <li>Sub 3</li>
                  <li>Sub 4</li>
                </ul>
              </li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">List by Subject 2
                <span class="pull-right fa fa-angle-down"></span></a>
                <ul class="dropdown-menu">
                  <li>Sub 1</li>
                  <li>Sub 2</li>
                  <li>Sub 3</li>
                  <li>Sub 4</li>
                </ul>                
              </li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">List by Subject 3
                <span class="pull-right fa fa-angle-down"></span></a>
                <ul class="dropdown-menu">
                  <li>Sub 1</li>
                  <li>Sub 2</li>
                  <li>Sub 3</li>
                  <li>Sub 4</li>
                </ul>                
              </li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">List by Subject 4
                <span class="pull-right fa fa-angle-down"></span></a>
                <ul class="dropdown-menu">
                  <li>Sub 1</li>
                  <li>Sub 2</li>
                  <li>Sub 3</li>
                  <li>Sub 4</li>
                </ul>                
              </li>                            
            </ul>
          </li>
        </ul>        
      </div>
      <div class="search col-lg-6">
        <form class="clearfix" action="#">
          <input class="col-xs-10" type="text" placeholder="Search the knowledge base">
          <button class="col-xs-2" type="submit"><i class="fa fa-search"></i></button>
        </form>        
      </div>
    </div>
  {% endblock %}
</div>