{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
  	<h2>Sort By</h2>
		<ul>
		    {% for key, value in sort_by %}
		        <li><a href="?sort_by={{ key }}&sort_order=ASC">{{ value }}</a></li>
		    {% endfor %}
		</ul>  	
    <h2>Filter By</h2> 
		<ul>
		    {% for key, value in filter_by %}
		        <li>{{ value.label }}</li>
		    {% endfor %}
		</ul>       
  	{{ children }}
</form>
